<div class="container">
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  <%= link_to "ログイン", new_user_session_path %>
　<%= link_to "新規登録", new_user_registration_path %>
　
        
    <div class= "col-4">
      <h4>旅先を検索</h4>
      <!--<= search_form_for @q, url: rooms_path do |f| %>-->
        <!--<= f.search_field :room_area_cont, class: "form_width", placeholder: "東京" %>-->
        <!--<= f.submit "検索", class: "btn btn-primary btn-block d-grid gap-2 form_width "%>-->
      <!--< end %>-->
    </div> 

</div>


<div class="container">
  <div class="panel-area m-5">
      <h1 class="section-title">おすすめのエリア</h1>
      <div class="row">
           <div class="panel-item col-lg-3 col-6">
              <span>東京</span>
              <a href="https://presite-potepancamp-rails-02.herokuapp.com/rooms/search?area=%E6%9D%B1%E4%BA%AC"><img class="panel-image" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_tokyo.jpg"></a>
              <div class="shadow"></div>
          </div>
          <div class="panel-item col-lg-3 col-6">
              <span>大阪</span>
              <a href="https://presite-potepancamp-rails-02.herokuapp.com/rooms/search?area=%E5%A4%A7%E9%98%AA"><img class="panel-image" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_osaka.jpg"></a>
              <div class="shadow"></div>
          </div>
          <div class="panel-item col-lg-3 col-6">
              <span>京都</span>
              <a href="https://presite-potepancamp-rails-02.herokuapp.com/rooms/search?area=%E4%BA%AC%E9%83%BD"><img class="panel-image shadow" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_kyoto.jpg"></a>
              <div class="shadow"></div>
          </div>
          <div class="panel-item col-lg-3 col-6">
              <span>札幌</span>
              <a href="https://presite-potepancamp-rails-02.herokuapp.com/rooms/search?area=%E6%9C%AD%E5%B9%8C"><img class="panel-image" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_sapporo.jpg"></a>
              <div class="shadow"></div>
          </div>
      </div>
    </div>
  </div>