<!--使わないかも-->

<div class="container">
  <h2 class="mt-4">予約した部屋</h2>
    <h2>ご予約が完了しました。</h2>
      <dl>
        <dt>開始日</dt>
        <!--<dd><= @reservation.check_in %></dd>-->
        <dt>終了日</dt>
        <!--<dd><= @reservation.check_out %></dd>-->
        <dt>人数</dt>
        <!--<dd><= @reservation.num_people %>人</dd>-->
        <dt>合計金額</dt>
        <!--<dd><= @reservation.total %>円</dd>-->
      </dl>
      
      <p><%= link_to "予約一覧へ", reservations_path %></p>
      
</div>      
